 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; 
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;


}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;  
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Nomalize ends */



.mainWrapper {
    font-family: 'Roboto';
    max-width: 100% ;
    background-color: brown;
    margin: 0 auto;
    margin-top: 180px;
}


/*Navigation*/

.topNav {
    background-color: white;
    opacity: .8;
    position: absolute;
    width: 1276px;  
    display: block;
    top: 0;
}

.topNav .logo {
    display: block;
    float: left;
    width: 40px;
    height: 35px;
    margin-left: 50px;
    margin-top: 40px;
}

.topNav ul {
    float: right;
    position: relative;
    margin-right: 60px;

    
}


.topNav li {
        display: inline-block;
        position: relative;
        margin-top: 38px;
        padding: 14px;
        color: #21ce99;
        
    }

.topNav li:hover {
    color: black;
    cursor: pointer;
}




/*Introduction section*/

.intro {
    width: 700px;
    margin-left: 45px;
}

.content h1:nth-child(1) {
    font-size: 45px;   
    font-weight: 400;

}

.content h1:nth-child(2){
    font-size: 45px;    
    font-weight: 200;
    line-height: 50px;  
}

.content h3:nth-child(3){
    line-height: 30px;
    font-weight: 200;
    font-size: 22px;
    margin-top: 20px;
    padding-bottom: 33px;

}

.content h3:nth-child(3){
    line-height: 30px;
    font-weight: 200;
    font-size: 22px;
    margin-top: 60px;
    padding-bottom: 33px;

}

.content img {
    position: relative;
    right: 80px;
    top: 100px;
    
}

.intro aside {
    float: right;
}


/*buttons*/

.signUp {
    border-radius: 5px;
    background-color: #21ce99;
    padding: 12px ;
    box-shadow: none;
    font-weight: 300;
    color: white;
    font-size: 14px;
    border: 1px ;
}

.signUp:hover {
    background-color: #199972;
    cursor: pointer;
}