  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; 
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;


}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;  
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {

    text-decoration: none;

}

/* Nomalize ends */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



.mainWrapper {
    font-family: 'Roboto';
}

.navContent {
    width: 100%;
    background-color: white;
    position: fixed;
    opacity: .8;
    display: block;
    top: 0;
    padding: 25px ;
    z-index: 1;

}

.pageWrapper {
    margin: 0 auto;
    width: 1125px;
    
}


.logo {
    float: left;
    display: block;
    
}

.topNav ul {
    float: right;
}


.topNav ul li {
    margin: 0px 20px;
    float: left;
}




.topNav ul li a {
    color: #21ce99;
    font-size: 15px;
    display: block;
    padding: 12px;

}

.topNav a:hover {
    color:black;

}


/*buttons*/

.signUp {
    border-radius: 5px;
    background-color: #21ce99; 
    padding: 12px ;
    box-shadow: none;
    font-weight: 500;
    color: white;
    font-size: 15px;
    border: 1px ;
}

.signUp:hover {
    background-color: #199972;
    cursor: pointer;
}


/*introduction section*/

.intro {
    width: 100%;
    margin-top: 200px;
}

.introText {
    height: 682px;
    width: 648px;
    float: left;
    
}


.introText h1{
    font-size: 45px;   
    font-weight: 400;

}

.introText h2{
    font-size: 45px;    
    font-weight: 200;
    line-height: 50px;  
}

.introText h3{
    line-height: 30px;
    font-weight: 200;
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 60px;

}

.introText button {
    display: block;
    margin-top: 67px;
    margin-bottom: 60px;
}

.watch {
    display: block;
    color: #21ce99;
    cursor: pointer;
    background: url("img/play_button@2x.png") no-repeat left center;
    background-size: 60px auto;
    padding: 20px 0 20px 90px;
}


.intro aside {
    height: 635px;
    width: 310px;
    position: relative;
    bottom: 50px;
    float: right;
    background-image: url("img/phone_frame_dark@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.introAnimation video {
    position: absolute;
    left: 25px;
    top: 70px;

}

/*Green feature block*/

.featureBlock {
    background-color: #21ce99;
    padding: 60px 0px;
}

.featureWrapper {
    width: 750px;
    margin: 0 auto;
    font-family: 'Roboto';

    

    
}

.featureText h1 {
    text-align: center;
    font-size: 45px;   
    font-weight: 200;
    
    line-height: 1.5;
    color: white;
    padding-bottom: 60px;
}

.featureText {
    margin: 100px auto 0px;

}

.brokerInfo {
    float: right;
    width: 360px;
}

.featureVideo {
    background-image: url("img/phone_frame_light@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 310px;
    height: 635px;
    float: left;

}

.featureVideo  video {
    position: absolute;
    top: 78px;
    left: 5px;
}

.brokerInfo h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 100;  
    padding-bottom: 30px; 
    color: white;


}


.brokerInfo button {
    margin-top: 30px;
    width: 270px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin: 5px;

}


.brokerInfo button:hover {
    background-color: white;
    color: #21ce99;
    cursor: pointer;
}


/*Security Feature*/

.securityFeature {
    background-color: black;
}

.securityPic {
    background-image: url("img/security@2x.png");
    background-size: cover;

    width: 220px;
    height: 240px;
    margin: 0 auto;

}


.copy {
  
    width: 650px;
    margin: auto;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    text-align: center;
    line-height: 1.5;
    padding: 100px 0px;
}
  

.copy h1 {
    font-size: 45px;   
    font-weight: 300;   
    padding: 20px 0px;
        
}

.copy a {
    color: #21ce99 ;
    text-decoration: none;
    
}

/*Use cases section*/



.useCaseExamples {
    margin: 0 auto
    color:  black;
    text-align: center;
    font-family: 'Roboto';
    line-height: 1.4;
}

.useCaseExamples h1 {  
    font-size: 45px;   
    font-weight: 200;   
    padding: 130px 0px;
}

.executionImg {
    background-image: url("img/fast_execution@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 240px;
    width: 240px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.excecutionCase h3 {
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
}

.excecutionCase p {
    font-size: 23px;
    font-weight: 200;
    padding-bottom: 80px;
}


.realTimeImg {
    background-image: url("img/market_data@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.realTimeCase h3 {
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
}

.realTimeCase p {
    font-size: 23px;
    font-weight: 200;
    padding-bottom: 80px;
}



.notificationImg {
    background-image: url("img/smart_notifications@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.notificationCase h3 {
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
}

.notificationCase p {
    font-size: 23px;
    font-weight: 200;
    padding-bottom: 80px;
}



/*Learn more section*/

.learnMore {
    background: url("img/TeamPhoto.jpg") no-repeat center center;
    background-size: 100%; 
    /*height: 850px;*/
    
}


/*should there be another wrapper */
.teamInfo h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.5;
    color: white;
    padding-top:250px;
    padding-bottom: 60px;
    text-align: center;

}


.teamInfo button {
    width: 270px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    position: relative; /*not the right solution?*/
    left: 220px;



}

.teamInfo button:hover {
    background-color: white;
    color: #21ce99;
    cursor: pointer;
}


.investors {
    width: 1000px;
    margin: 0px auto;
    

}

.learnMore li {
    float: left;
    margin: 40px;
    padding-bottom: 50px;

}


/*footer section*/


footer {
    height: 1136px;
    background: black;
}

.footerWrapper {
    margin: 0 auto;
    width: 950px;
    

}

.phoneApp {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.phoneApp img {
    padding: 5px;
}


.regions {
    float: left;
    margin-top: 55px;

}

.regions li {
    float: right;
    margin: 0px 23px;
}

.regions li:first-child{
    color: #5DCECA;
    font-family: 'Roboto';
}

.social {
    float: right;
    margin-top: 55px;
}

.social li {
    float: left;
    margin: 0px 30px;
}


.middle {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 140px;
}








