html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



ul, li , a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}



body {
  background: url("img/bg-body.jpg") repeat;
  font-family: Arial;
   display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;

   margin: 0;
   height: 100%;
   width: 100% /* needed for Firefox */
}

.siteWrapper {
  width: 950px;
  background-color: #356618;
  /*height: 1000px;*/
}

.pageWrapper {
  width: 900px;
  margin: auto;
}

header .logo {
  padding: 10px 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  margin: 0;
  align-content: flex-start;
}

header nav li  a {
   color: white;
}

header  nav li  {
  background-color: #4B4B4B;
  padding: 15px;
  text-decoration: none;
  color: white;
  display: inline-flex;  
  justify-content: center;
  flex: 1;
  border-bottom: 1px solid white;
  }


header nav li:first-child {
  background: #96B285;

}

header nav li:hover {
  background: #DAEAD0;

}

section .mainImg {
  background: url("img/gardening1.jpg") no-repeat;
  width: auto;
  height: 430px;
  display: inline-flex;
  align-items: flex-end;
  
}

.mainImg span {
  background-color: black;
  opacity: .7;
  color: white;
  padding: 22px;

}

.mainImg span h1 {
  color: green;
}

.main .tips {
  display: flex;
  justify-content: space-around;
}

.main ul li  {
  display: flex;
  color: white;
}

.main ul img {
  border: 1px solid white;
  margin: 10px;
}

.main .tips h4 {
  padding-top: 10px;
  display: flex;

  order: 1;
}

.main .tips span {
width: 130px;
}

.bottom-container {
  background-color: white;
  padding: 20px;


}

.featured-gardens {
  border-bottom: 1px solid #D7D6CD;
  padding-bottom: 30px;
}

.bottom-container .featured-gardens .title{
  background-color: #DCE9D4;
  width: 860px;
  height: 45px;
  border-bottom: 2px solid #B3CCA4;
  display: inline-flex;
  align-items: center;
  color: #836145;
  margin: 20px 0px;
  
}

.bottom-container .featured-gardens ul {
  display: flex;
  justify-content: space-between;
}



.bottom-container .featured-gardens ul span {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.bottom-container .featured-gardens ul span h1 {
  color: #836145;
  margin: 10px 0px;  
}

.bottom-container .weekly-tips {
  margin-top: 20px;
  display: flex;


}

.bottom-container .weekly-tips img {
  margin-right: 20px;
}

.bottom-container .weekly-tips .tip-content h1{
  width: 100%;
  padding: 10px 0;
  background-color: green;
  color: #836145;
  background-color: #DCE9D4;
  border-bottom: 2px solid #B3CCA4;
  margin-bottom: 20px;
}

.bottom-container .weekly-tips .tip-content ul {
  display: flex;
  flex-direction: column;
}

.bottom-container .weekly-tips .tip-content li {
  padding: 10px 0px;
}

footer {
  width: 100%;
  height: 180px;
  background-color: #DCE9D4;
  display: flex;
  justify-content: space-between;

}

footer div {
  border-right: 1px solid green;
}
