
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;

}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Nomalize ends */



 body {
    font-family: 'Roboto';

}

.content {
    padding: 0 0.938rem;
    margin-bottom: 10px;
    min-width: 37.5rem;
}

.top-nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    opacity: 0.8;
    /*overflow: scroll;*/

}

.top-nav > .content {
    height: 4.375rem;
    padding: 10px;
}

.top-nav .links {
    float: right;
    color: #21ce99;
    font-size: 15px;
    margin-top: 1.7rem;
    margin-right: 60px;
}


.logo {
    margin-top: 27px;
    height: 40px;
    width:  35px;
    margin-left: 60px;
}

.top-nav .links li {
    display: inline-block;
    margin-left: 40px;

}

.top-nav .links li:hover {
    cursor: pointer;
    color: black;
}

/*intro section*/

.introduction {
    
    display: inline-block;   
}

.introduction .content >h1 {
    margin-top: 240px;
    line-height: 40px;
    margin-left: 40px;
    font-size: 45px;
    font-weight: 400;
}

.introduction .content > h2 {
    margin-top: 15px;
    line-height: 50px;
    margin-left: 40px;
    font-weight: 200;
    font-size: 45px;

}

.signupcontent {
    margin-top: 80px;
    margin-left: 40px;
}

.signupcontent > h2 {
    line-height: 30px;
    font-weight: 200;
    font-size: 22px;
    padding-bottom: 33px;
}


.watchvideo {

    margin-top: 63px;

}

.watchvideo h3 {
    margin-left: 78px;
    bottom: 37px;
    font-size: 15px;
    color: #21ce99;
    position: relative;
}


.phone {
    position: relative;
    left: 800px;    
    bottom: 620px;
    display: inline;

}

.phonevideo {
    right: 285px;
    bottom: 50px;
    display: inline;
    position: relative;

}

.disclosure {
    cursor: pointer;
    position: relative;
    right: 476px;
    top: 30px;
    color:#21ce99;
}

.container {
    width: 300px;
    margin-left: 485px;
    margin-bottom: 50px;  
    margin-top: 40px;
    text-align: center;
    position: relative;
    right: 476px;
    display: none;
}


/*learn more section*/

.learn-more {
    position: relative;
    background-color: #21ce99;
    height: 1200px;
    width:1285px;
    bottom: 720px;
    color: white;
}

.learn-more .content {
    text-align: center;

}



.learn-more .copycontent > h1 {
    position: relative;
    margin-top: 200px;
    font-size: 35px;
    top: 200px;
    line-height: 60px;
    font-weight: 300;
}


.lmphone {
    position: relative;
    margin-top: 250px;
    margin-right: 340px;
    display: inline;
}

.tradevideo {
    display: inline;
    position: relative;
    margin-right: 340px;
    bottom: 538px;
}

.learn-more > h3 {
    bottom: 1090px;
    position: relative;
    color: white;
    z-index: 9999;
    margin-left: 700px;
    font-size: 23px;
    font-weight: 200;
    width: 350px;
    line-height: 37px;
}

.learn-more .money {
    position: relative;
    z-index: 9999;
    width: 270px;
    background-color: #21ce99;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px;
    color: white;
    font-size: 16px;
    margin-left: 696px;
    bottom: 1035px;
    font-weight: 200;

}


.learn-more .brokerage {
    position: relative;
    z-index: 9999;
    width: 270px;
    background-color: #21ce99;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px;
    color: white;
    font-size: 16px;
    margin-left: 696px;
    bottom: 1015px;
    font-weight: 200;

}

/*security section*/

.security {
    position: relative;
    background-color: black;
    height: 1200px;
    width:1285px;
    bottom: 720px;
    color: white;
}

.security  .securitycontainer {
    text-align: center;
    width: 800px;
    margin-left: 250px;
}

.securitycontainer > img {
    margin-top: 150px;
}


.securitycontainer > h1 {
    font-size: 45px;
    margin-top: 40px;
    line-height: 60px;
    font-weight: 300;
}

.securitycontainer > h3 {
    font-size: 22px;
    line-height: 50px;
    margin-top: 20px;
    font-weight: 200;
}

.securitycontainer a {

    color: #21ce99 ;
    text-decoration: none;

}


/*cases section*/

.cases {
    position: relative;
    height: 1200px;
    width:1285px;
    bottom: 580px;
}

.cases .case-container {
    text-align: center;
    width: 940px;
    position: relative;
    margin-left: 190px;

}

.cases .case-container > h1 {
    font-size: 35px;
    color: black;
    line-height: 50px;
    font-weight: 300;
    
}



.cases .case-examples  > h3 {
    padding-top: 40px;
    color: #040d14;
    font-size: 27px;
    padding-bottom: 20px;
    font-weight: 300;
     
}

.cases .case-examples > img {
    padding-top: 100px;
}

.cases .case-examples > h4 {
    line-height: 40px;
    font-size: 30px;
    color: #898e91;
    font-weight: lighter;
}



/*investor section*/

.investors .investorcontainer > img {
    position: relative;
    bottom: 150px;
    background-image: url();
}


.investors  > h3 {
    color: white;
    font-size: 30px;

    
}


/*buttons*/
 button {
    width: 88px;
    background-color: #21ce99;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    font-size: 14px;
}
button:hover {
    background-color: #1cb584;
    /*border-color: #cf3d0e;*/
    cursor: pointer;
}



